@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1684523004455') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-faxian:before {
  content: "\e8af";
}

.icon-gedan:before {
  content: "\e6bf";
}

.icon-boke1-copy:before {
  content: "\e506";
}

